#root, html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  box-sizing: border-box;
}

.app {
  height: 100%;
  background: url('./images/lesson.png');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding: 20px;
}

.card {
  background-color: rgba(255, 255, 255, 0.788);
  width: 80%;
  max-width: 600px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 25px;
}

.heading {
  display: flex;
  align-items: center;
  font-family: sans-serif;
  font-size: 24px;
  margin-bottom: 20px;
}

.button {
  outline: none;
  text-decoration: none;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
  height: 50px;
  width: 150px;
  opacity: 1;
  background-color: #f3ebeb;
  border: 1px solid rgba(22, 76, 167, 0.6);
  transition: transform 0.3s ease;
}
  
.button span {
  color: #164ca7;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.7px;
}
  
.button:hover {
  transform: scale(1.05);
}
  
@media (max-width: 600px) {
  .card {
      width: 90%;
  }
  .heading {
      font-size: 18px;
  }
  .button {
      height: 40px;
      width: 120px;
  }
  .button span {
      font-size: 12px;
  }
}
